.collection-item {
    width: 22vw; //view vidth, works same as view height-vh but for width instead
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .custom-button{
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      display: none;
      

      @media screen and (max-width: 800px) {
        display: block;
        min-width: unset;
        opacity: 0.7;
        position: absolute;
        padding: 0 10px;
        //font-size: 10px;
      }

      @media screen and (max-width: 516px) {
        font-size: 9px;
        opacity: 0.7;
        position: absolute;
      }

      @media screen and (max-width: 372px) {
        font-size: 6.5px;
        opacity: 0.7;
        position: absolute;
      }
    }

    &:hover{
      .image{
        opacity: 0.8;
      }
      .custom-button{
        opacity: 0.85;
        display: flex;
      }
    }
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding-right: 15px;
      
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }

      @media screen and (max-width: 800px) {
        font-size: 16px;
      }
      @media screen and (max-width: 399px) {
        font-size: 13px;
      }
    }


  }
  