.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

  .title {
    @media screen and (max-width: 800px) {
        font-size: 16px;
      }
  }
  .explanation {
      font-size: 20px;

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
  }
}


