.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding-top: 11.5px;

  .title {
    margin: 10px 0;
  }
  .pad{
    padding-bottom: 8px;
  }

  @media screen and (max-width:1024px) {
    width: 440px;
  
  
  }
}
