.checkout-page {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .checkout-header {
      width: 130%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
        @media screen and (max-width: 800px) {
         
          font-size: 12px;
        }
  
        @media screen and (max-width: 399px) {
          font-size: 12px;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;

      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
    }

    button{
      margin-left: auto;
    }

    .test-warning{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 22px;
      color: #002bff;

      @media screen and (max-width: 800px) {
        font-size: 14px;
      }

    }
  }
  